

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #eb6666;
  color: #333;
}


header {
  background: #cc0000;
  color: rgb(248, 206, 16);
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

h2 {
  margin: 10px 0 20px;
  font-size: 1.5rem;
}



main {
  padding: 20px;
}

.descripcion {
  display: flex;
  align-items: flex-start;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.descripcion div {
  padding: 20px;
  flex: 1;
}

.descripcion img {
  margin-left: 20px;
  max-width: 300px;
  border-radius: 8px;
}

figure {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 5px;
}



footer {
  text-align: center;
  padding: 20px;
  background: #cc0022;
  color: rgb(245, 221, 5);
  position: relative;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}



.imagen img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.titulo h1 {
  color: #2c3e50;
  font-size: 2.5em;
  text-align: center;
  margin: 20px 0;
}

.enlace {
  margin-top: 20px;
}

.enlace a {
  text-decoration: none;
  color: rgb(236, 181, 0);
  background-color: #ff0000;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.enlace a:hover {
  background-color: #e91a0b;
}



.contenido {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contenido ul {
  list-style: none;
  padding: 0;
}

.contenido li {
  margin-bottom: 10px;
}

.enlaces {
  text-align: center;
  padding: 20px;
}